@import url('https://fonts.googleapis.com/css2?family=Jua&family=Roboto+Condensed&display=swap');


* { box-sizing: inherit; }

html {
  line-height: 1.15;
  box-sizing: border-box;
  font-size: 16px;
  font-style: normal;
  font-weight: 400px;
  min-height: 100%;
  font-family: 'Roboto Condensed', sans-serif;
}

body {
  margin: 0;
  background-color: #f5f4f0 !important;
  color: #2d2b31;
  line-height: 1.6rem;
  padding: 0;
}

header, section { display: block; }

section { justify-content: center; align-items: center; }

h1 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 4em;
  margin: .67em 0;
  line-height: 1;
  margin-top: 0;
  margin-bottom: .8rem;
}

h3 {
  font-size: 1.4rem;
  font-weight: 700px;
  line-height: 1;
  margin-top: 0;
  margin-bottom: .8rem;
}

p {
  margin: 0;
  font-family: 'Jua', sans-serif;
  font-size: large;
}

img {
  border-style: none;
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;

  /* opacity: 0;/ */
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 900px;
  width: 90%;
}

.align--center { text-align: center; }

.grid-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 0 1 auto;
  align-items: center;

  margin: 0 -1.2rem;
}

.grid-column {
  flex: 1 0 0%;
  padding: 0 1.2rem;
}

.pb1 { padding-bottom: .8rem; }
.pt2 { padding-top: 2rem; }
.pb2 { padding-bottom: 2rem; }
.pt3 { padding-top: 0; }
.pb3 { padding-bottom: 0; }
.pt4 { padding-top: 4.4rem; }
.pb4 { padding-bottom: 4.4rem; }

.order-1 { order: 1; }
.order-2 { order: 2; }
.order-3 { order: 3; }
.order-4 { order: 4; }
.order-5 { order: 5; }
.order-6 { order: 6; }


.span-half {
  flex-basis: 50%;
  max-width: 50%;
}

.mobile-m {
  margin-top: .8rem;
  margin-bottom: .8rem;
}

.relative {
  position: relative;
}

.info-image {
  box-shadow: 10px 10px 28px 0 rgba(0, 0, 0, .1);
}

.z1 { z-index: 1; }
.z2 { z-index: 2; }

a {
  color: #2d2b31;
  text-decoration: none;
}

a:hover {
  color: #8B7EA9;
}

.hidden { opacity: 0; }

.scroll-effect { animation: scroll-effect 3s; }

@keyframes scroll-effect {
  from { opacity: 0; transform: scale(.7, .7); }
  to { opacity: 1; }
}